{% extends 'base.html.twig' %}

{% block title %}TNS |
	{{parent()}}
{% endblock %}
{% block monTitle %}Trail Nocture en Savès
{% endblock %}

{% block body %}
	{% block nav2 %}{% endblock %}


	<div>
		<h2 id='timerTrail' class="text-center text-bold text-warning"></h2>
	</div>


	<div class="row">

		<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 jumbotron border-bottom border-light m-5 _imgTrailInscription">
			<h2 class="display-5 text-center text-white">Inscription :
			</h2>
			<hr class="my-4 my-light">

			<p class='text-center text-white h3'>
				Inscrivez-vous directement en ligne avec notre partenaire Pyrénéés Chrono !
			</p>
			<a href="https://pyreneeschrono.fr/evenement/trail-nocturne-en-saves-2020/" class='p-5'>
				<button type="button" class="btn btn-warning btn-lg d-block mx-auto">
					Inscription :
					<svg width="2em" height="2em" viewbox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.5 8.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
					</svg>
				</button>

			</a>

		</p>

	</div>


	<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 jumbotron border-bottom border-light m-5 ">
		<img src="{{asset('images/tns/etoiles.jpg')}}" alt="Etoiles" class="_etoiles img-fluid mx-auto d-block p-0 m-0 w-100">

		<hr class="my-4 my-light">

		<p class='text-center'>
			Soutient pour l’association « Les étoiles de Camille et Pauline ».
																											1€ par personne inscrite reversé à l’association.
			<a href="https://lacagnottedesproches.fr/cagnotte/les-etoiles-de-camille-et-pauline/donors">
				<span>Plus ...</span>
			</a>
		</p>


		{# <a href="https://pyreneeschrono.fr/evenement/trail-nocturne-en-saves-2020/">
																			<button type="button" class="btn btn-outline-primary d-block mx-auto">
														                    Ici           
																				<svg width="2em" height="2em" viewbox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																					<path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.5 8.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
																				</svg>
																			</button>
														                    
														                    </a> #}

	</p>

</div>


<div class="container-fluid TnsImg ">
	<div class=''>
		<div class="m-4 p-4">
			<div class="text-center text-white display-4 font-italic">
				1ère édition !!!
			</div>

		</div>

		<div>
			<div class="display-4 text-white text-center text-warning p-4 ">
				Forgues Samedi 21 Novembre
			</div>
		</div>

		<div>
			<p class=" display-3 text-white text-center font-weight-bold p-2 _tnsTI">Trail Nocture en Saves</p>

		</div>


		<div class="row p-3 border-bottom border-light m-5">
			<div class="col-lg-6 display-4 text-white text-center p-5 _childimg mx-auto">
				<div>La Salamandre</div>
				<div class="text-danger font-weight-bold">
					11KM    300D+
				</div>
				<div class='p-5'>
					<p class='h2'>Heure de départ : 19H45</p>
					<p class='h4'>A la lumière de vos frontales, venez à la découverte des salamandres. Ce parcours vous fera découvrir la forêt d’un autre œil et sera un véritable terrain de jeu des amoureux du trail.</p>
				</div>


			</div>


			<div class="col-lg-6 display-4 text-white text-center  p-5 _childimg ">
				<div>La Casteras</div>
				<div class="text-danger font-weight-bold">22KM      600D+</div>

				<div class='p-5'>
					<p class='h2'>Heure de départ : 19H00</p>
					<p class='h4'>Ce parcours exigeant et technique, 100% forêt, vous amènera à la découverte du Casteras sous toutes ses formes. Ne soyez pas surpris par la faune qui sera là pour vous surveiller.</p>
				</div>


			</div>

		</div>
		<div class='border-bottom border-light m-5 d-flex justify-content-around'>

			<button class='btn btn-info btn-lg' data-toggle="modal" data-target="#ModalReglement">REGLEMENT</button>


			<button class='btn btn-info btn-lg'>RESULTATS</button>
			<button class='btn btn-info btn-lg'>PHOTOS</button>
			<button class='btn btn-info btn-lg'>BENEVOLES</button>


		</div>

		<div class='border-bottom border-light m-5'>
			<h3 class='text-center text-white'>Accés au site :</h3>
            <p class='text-center text-white'>Plusieurs parkings seront à votre disposition, veillez à ne pas vous garer devant des garages ou sorties de véhicules dans les rues.</p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5794.868558541674!2d1.0456701267154775!3d43.43064519354063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a939c8ebd6447b%3A0x406f69c2f4126e0!2s31370%20Forgues!5e0!3m2!1sfr!2sfr!4v1601979325945!5m2!1sfr!2sfr" width='100%' height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

		</div>


	</div>
	{# modal #}
	<!-- Modal Reglement -->
	<div class="modal fade" id="ModalReglement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Reglement</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<h4>Article 1 : Organisateurs</h4>

					<p>Le Trail Nocturne en Saves (T N S) est une course nature organisée par la Team VTT en coeur de Garonne (association loi 1901). Vous pouvez contacter l’organisateur à tout moment  par mail à l’adresse vtt.encoeurdegaronne@gmail.com.com ,ou par téléphone (06.51.61.58.96. / 06.58.29.16.06 )
																	
																	Article 2 : Date, horaires et circuits
																	
																	Le TNS aura lieu le 21 Novembre 2020 au départ de FORGUES 31370. Il est composé de deux courses :
																	
																	LA SALAMANDRE  : une course nature de 11km en forêt. Circuit avec  320m de D+ : départ à 19h00 (un ravitaillement à mi-course et a l’arrivée.
																	LE CASTERAS. un Trail de 22km, uniquement en forêt. Circuit technique, nombreux singles avec 520 D+ : départ à 19h45 (deux ravitaillements au 6ème km et un ravitaillement au 15ème kilomètre (sur chaque ravitaillement, il y aura de l’eau, des fruits, sucres et barres céréales )
																	Le retrait des dossards se fera sur place jusqu’à une demi heure avant le départ de la course, à la salle des fêtes de FORGUES. Le départ sera donné en face de la salle des fêtes. Le dossard doit être obligatoirement porté sur le devant et visible ceci pendant toute la durée de la course.</p>


					<h4>Article 3 : Condition d’inscription</h4>

					<p>3-1 : Catégories d’âge
																	
																	Le 11km (LA SALAMANDRE) est ouvert à tous participants ayant 16 ans révolus le jour de la course .
																	Le 22 km (LE CASTERAS) est ouvert à tous participants ayant 20 ans révolus le jour de la course .
																	
																	
																	3-2 : Mineurs
																	
																	Les mineurs peuvent s’inscrire à condition qu’ils aient plus de 16 ans révolu le jour de la course. Une autorisation parentale sera à fournir en pièce jointe sur le formulaire d’inscription ou à présenter sur place pour le retrait du dossard .
																	
																	3-3 : Certificat médical et licences sportive
																	
																	Toute participation à une compétition est soumise à la présentation obligatoire par les participants à l’organisateur :
																	
																	– d’une licence Athlé Compétition, Athlé Entreprise, Athlé Running délivrée par la FFA, ou d’un « Pass’ J’aime Courir » délivré par la FFA et complété par le médecin, en cours de validité à la date de la manifestation. (Attention : les autres licences délivrées par la FFA (Santé, Encadrement et Découverte ne sont pas acceptées);
																	
																	– ou d’une licence sportive, en cours de validité à la date de la manifestation, sur laquelle doit apparaître, par tous moyens, la non contre-indication à la pratique du sport en compétition, de l’Athlétisme en compétition ou de la course à pied en compétition et délivrée par une des fédérations suivantes :
																	o Fédération des clubs de la défense (FCD),o Fédération française du sport adapté (FFSA),o Fédération française handisport (FFH),o Fédération sportive de la police nationale (FSPN),o Fédération sportive des ASPTT, o Fédération sportive et culturelle de France (FSCF),o Fédération sportive et gymnique du travail (FSGT),o Union française des œuvres laïques d’éducation physique (UFOLEP);
																	– ou d’un certificat médical d’absence de contre-indication à la pratique du sport en compétition ou de l’athlétisme en compétition ou de la course à pied en compétition, datant de moins de un an à la date de la compétition, ou de sa copie. Aucun autre document ne peut être accepté pour attester de la possession du certificat mé
																	3.4 équipement obligatoire
																	
																	
																	
																	Chaque coureur devra être doté d’un équipement d’éclairage individuel de son choix , en bon état de fonctionnement le jour de la course .Il devra aussi être doté d’un équipement individuel à haut facteur de réflexion .</p>


					<h4>Article 4 : Inscriptions</h4>


					<p>Les inscriptions se font soit  en ligne via le lien:
																	
																	– Pyrénéeschrono.fr
																	
																	Soit par courrier via le bulletin d’inscription
																	
																	Soit sur place le jour j  selon disponibilité de dossards
																	
																	
																	
																	4-1 : Prix et augmentation de tarifs
																	
																	Le 11km ( LA SALAMANDRE) : 12euros jusqu’au 20 Novembre puis 15euros sur place  jusqu’à la fermeture des inscriptions
																	Le 22 km (LE CASTERAS) : 20 euros jusqu’au 20 novembre puis 23 euros sur jusqu’à la fermeture des inscriptions
																	4-2 : Revente ou cession de dossard
																	
																	Tout engagement est personnel. Aucun transfert d’inscription n’est autorisé sans en aviser au préalable l’organisateur, et sans son consentement (raison valable ) . Toute personne rétrocédant son dossard à une tierce personne, sera reconnue responsable en cas d’accident survenu ou provoqué par cette dernière durant l’épreuve si elle n’en a pas fait part a l’organisateur. Toute personne disposant d’un dossard acquis en infraction avec le présent règlement pourra être disqualifiée. L’organisation décline toute responsabilité en cas d’accident face à ce type de situation
																	
																	4-3 : Remboursement
																	
																	Chaque engagement est ferme et définitif. Cependant, l’organisation accepte des changements de coureurs. Il vous est donc possible de céder votre dossard à un remplaçant à condition que vous ayez contacté l’organisateur pour communiquer le nom, prénom, date de naissance, certificat médical valide du remplaçant. En cas d’annulation pour tout motif de force majeure, l’organisation se réserve le droit d’une retenue de cinquante pour cent (50%) par inscription afin de couvrir les frais engagés. En cas de report aucun remboursement ne sera effectué.</p>


					<h4>Article 5 : Assurance</h4>

					<p>Les organisateurs sont couverts par une police d’assurance responsabilité civile souscrite auprès du crédit mutuel  pour la durée de l’épreuve.  Les participants  licenciés une fédération  bénéficient des garanties accordées par les assurances liées à leur licence sportive. Il incombe aux autres participants de s’assurer personnellement (responsabilité civile) .
																	
																	L’organisateur ne peut en aucun cas être tenue pour responsable en cas d’accident ou de défaillance des participants notamment ceux consécutifs à un mauvais état de santé ou à une préparation insuffisante.
																	
																	Les organisateurs déclinent toute responsabilité en cas de vol ou de dégradation de matériel.</p>


					<h4>Article 6 : Sécurité</h4>

					<p>La sécurité et l’assistance médicale des participants est du ressort de l’organisateur qui mettra en place un Dispositif Prévisionnel de Secours (DPS). La sécurité sera assurée par des signaleurs sur les voies routières forestières et une équipe de secouristes avec les moyens logistiques nécessaires (ambulances, civières…). Les services de secours (SDIS) et de gendarmerie seront avertis et présents sur  l’événement. Un numéro de téléphone d’urgence sera imprimé sur votre dossard.</p>


					<h4>Articles 7 : Chronométrage</h4>

					<p>Le chronométrage est assuré par la société Pyrénées chrono  via des transducteurs électroniques intégrés au dossard.</p>


					<h4>Article 8 : Classement et récompenses</h4>

					<ul>

						<li>
							Le 11 km (LA SALAMANDRE) : les 3 premiers au scratch , puis 3 premiers en homme et en femme

						</li>
						<li>
							Le 22 km (LE CASTERAS) : les 3 premiers au scratch , puis 3 premiers  en homme et en femme

						</li>
						<li>
							Un tirage au sort sera efectué en fin des courses.

						</li>
					</ul>


					<h4>Article 9 : Charte du coureur</h4>

					<p>Tout concurrent est tenu à assistance en cas d’accident d’un autre concurrent (jusqu’à l’arrivée des secours). Nous vous invitons a respecter les lieux, la majeure partie de la course se déroulant dans la foret  (des poubelles seront prévues a cet effet).</p>


					<h4>Article 10 : Droit à l’image</h4>

					<p>Du fait de son engagement, chaque coureur autorise les organisateurs à utiliser les images fixes ou audiovisuelles sur lesquelles il pourrait apparaître, prises à l’occasion de sa participation aux épreuves, sur tous supports y compris les documents promotionnel.</p>


					<h4>Article 11 : Annulation, intempéries</h4>

					<p>L’organisateur se réserve la faculté d’annuler la manifestation soit sur requête de l’autorité administrative, soit en cas de force majeure. Aucune indemnité ne pourra être versée à ce titre. Les participants seront remboursés de leurs frais d’engagement avec une retenue de cinquante pour cent  (50%) afin de couvrir une partie des frais engagés , mais ils ne pourront prétendre à aucune autre indemnité à ce titre.
																
																En cas de force majeure (intempéries,….) et pour des raisons de sécurité, l’organisation se réserve le droit  de reporter ou d’annuler l’épreuve. En cas d’annulation l’organisation procédera au remboursement des inscriptions avec la retenue sus citée  ou au report des épreuves à une date ultérieure.</p>


					<h4>Article 11 : INFORMATIONS RELATIVE AU COVID 19</h4>

					<p>L’organisateur met en garde tout participant des modifications suivantes:
																
																Le retrait des dossards se fera sur convocation et dans le strict respect du marquage au sol ( distanciation sociale ) avec port du masque obligatoire .
																Le départ de la course sera contingenté par vagues de 18 coureurs espacés de 1,5 metres par lignes de 4,3,4,3,4
																Il vous sera demandé de respecter les gestes barrières et de porter un masque lorsque cela ne sera pas possible
																Il vous sera mis a disposition un pulvérisateur avec produit virucide afin désinfecter les toilettes avant et après leur utilisation (il va de soi que le lavage des mains s’impose)
																Vous serez servi individuellement sur les ravitaillement et les bénévoles seront dotés de gants en plastique et de masques
																Il appartient a chacun de se protéger et de protéger les autres , il va de soi de respecter les lieux
																
																Chaque coureur aura l’obligation de signer : La charte du coureur –  (annexe 1)
																
																Chaque bénévole aura l’obligation de signer : La charte du bénévole -(annexe2)
																
																L’organisateur  :   VTT EN COEUR DE GARONNE</p>


					<h4>ANNEXE 1:CHARTE DU COUREUR</h4>

					<p>Conscient que la participation à tout évènement doit se faire dans le respect strict des règles sanitaires transmises par le gouvernement et de nos valeurs environnementales, en tant que coureur de l’évènement Trail Nocturne en Saves, je m’engage à :
																
																1/ Respecter les gestes barrières en vigueur en particulier dans les espaces fermés, semi ouvert ou à forte densité de personnes lors de l’événement (port d’un masque, lavage des mains, distanciation physique).
																
																2/ Respecter strictement le règlement de la course et les mesures mises en place par l’organisation afin de minimiser les risques sanitaires : >Port du masque sur la zone de départ que je garde sur moi pendant la course et remets après l’arrivée dans la file du parcours de sortie>Courir en respectant au maximum la distanciation sociale en vigueur avec les autres participants et en utilisant toute la largeur de la chaussée >Ne pas cracher au sol>Me moucher dans un mouchoir à usage unique que je jette dans une poubelle>Ne pas jeter de déchets sur la voie publique>Respecter et laisser les lieux publics propres>Être équipé et utiliser mon propre contenant de ravitaillement liquide (poche à eau, gourde, flasque, bouteille, gobelet…), …
																
																3/ Ne pas entrer physiquement au contact d’autres participants.
																
																4/ Comprendre qu’en prenant part à l’événement, je participe à un rassemblement de personnes potentiellement générateur de la diffusion de l’épidémie à coronavirus si les mesures barrières ne sont pas appliquées par tous.
																
																5/ Accepter, en prenant part à l’évènement, que ce risque sanitaire est potentiellement grave chez les plus fragiles (plus 65 ans, porteur de maladie chronique, femme enceinte).
																
																6/ Si j’ai présenté la Covid-19 dans les semaines et mois précédant la course, consulter un médecin préalablement à ma participation pour savoir si la pratique des efforts intenses et ma participation à la compétition est possible, notamment les courses présentant des dénivelés importants et à fortiori en altitude.
																
																7/ Ne pas courir si je présente des symptômes de la Covid-19 depuis moins de 14 jours
																
																8/ Faire preuve de civisme en m’engageant à prévenir le référent Covid-19 de l’organisation en cas de déclaration de la maladie après la course.
																
																9/ Télécharger si possible et m’enregistrer sur l’application « StopCovid » préalablement à ma venue sur l’événement.
																
																10/ Choisir des épreuves proches de son lieu d’habitation et nécessitant peu de déplacements et de transports
																
																Nom, prénom.                                               Date et Signature</p>


					<h4>ANNEXE 2: CHARTE DU BENEVOLE</h4>

					<p>Conscient que la participation à tout évènement doit se faire dans le respect strict des règles sanitaires transmises par le gouvernement et de nos valeurs environnementales, en tant que bénévole de l’évènement Trail Nocturne en Saves, je m’engage à :
																
																1/ Respecter les gestes barrières en vigueur en particulier dans les espaces fermés, semi ouvert ou à forte densité de personnes lors de l’événement (port d’un masque, lavage des mains, distanciation physique).
																
																2/ Respecter strictement le règlement de la course et les mesures mises en place par l’organisation afin de minimiser les risques sanitaires
																
																3/ Ne pas entrer physiquement au contact avec les participants et d’autres bénévoles.
																
																4/ Comprendre qu’en prenant part à l’événement, je participe à un rassemblement de personnes potentiellement générateur de la diffusion de l’épidémie à coronavirus si les mesures barrières ne sont pas appliquées par tous.
																
																5/ Accepter, en prenant part à l’évènement, que ce risque sanitaire est potentiellement grave chez les plus fragiles (plus 65 ans, porteur de maladie chronique, femme enceinte).
																
																6/ Renoncer à ma participation en tant que bénévole si je présente des symptômes de la Covid-19 depuis moins de 14 jours.
																
																7/ Faire preuve de civisme en m’engageant à prévenir le référent Covid-19 de l’organisation en cas de déclaration de la maladie après la course.
																
																8/ Télécharger si possible et m’enregistrer sur l’application « StopCovid » préalablement à ma venue sur l’événement.
																
																
																
																Nom, prénom                                                                                            Date et signature</P>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
				</div>
			</div>
		</div>
	</div>


</div></div>{% block javascripts %}
{{ encore_entry_script_tags('timer') }}{% endblock %}{% endblock %}
